<!DOCTYPE html>
<%- include('../partials/head'); %>

    <body class="container">
        <%- include('../partials/header', {pagina: 'about'}); %>

            <main class="jumbotron">
                <h1>Sobre mim</h1>
                <p>Quis proident consectetur laboris sit.Fugiat consequat pariatur excepteur ullamco fugiat fugiat occaecat Lorem aliquip commodo nostrud nostrud ipsum nisi.</p>
            </main>
            <%- include('../partials/footer'); %>
    </body>

    </html>